

body {
   background-color: pink;
   /*padding: 30px;*/
  font-family: "Lucida Console", "Courier New", monospace;
  text-align:center;
  border-style:groove;
  border-width:10px;
  border-color:hotpink;
  padding:40px
}

#border{
  border:groove;
  border-color:hotpink;
  border-width:10px
}

h1{
  font-size:60px
}

h4{
  font-size:22px
}

p{
  font-size:19px
}


a:link, a:visited {
  background-color: turquoise;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: hotpink;
}